body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
table.Table-Style-1 {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Table-Style-1 {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.cell-middle {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
}
p.body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-bullet-blue, li.body-bullet-blue {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-bullet-no-bullet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
li.body-bullet-pink, p.body-bullet-pink {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.body-dash, p.body-dash {
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:23px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.caption {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-A {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.056;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-B {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:3px;
	margin-left:26px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-26px;
	text-transform:none;
	widows:1;
}
p.head-C {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:3px;
	margin-left:26px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-26px;
	text-transform:none;
	widows:1;
}
p.head-D {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Bold Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-E {
	-epub-hyphens:none;
	color:#00aaad;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-T {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:3px;
	margin-left:28px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-28px;
	text-transform:none;
	widows:1;
}
p.head-T2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0;
	margin-left:31px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-31px;
	text-transform:none;
	widows:1;
}
li.table-bullet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:1px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-note {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-note-indented {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:9px;
	margin-left:9px;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:1;
}
p.table-text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-top {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Bold Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.154;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.body-bold {
	font-style:normal;
	font-weight:bold;
}
span.body-bold-red {
	color:#d71920;
	font-style:normal;
	font-weight:bold;
}
span.body-medium-italic {
	font-style:oblique;
	font-weight:normal;
}
span.table-superscript {
	vertical-align:super;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	background-color:#d4dcf0;
	border-bottom-color:#0066b3;
	border-left-color:#0066b3;
	border-right-color:#0066b3;
	border-top-color:#0066b3;
}
td.CellOverride-2 {
	border-bottom-color:#0066b3;
	border-left-color:#0066b3;
	border-right-color:#0066b3;
	border-top-color:#0066b3;
}
td.CellOverride-3 {
	background-color:#d4dcf0;
	border-bottom-color:#0066b3;
	border-left-color:#0066b3;
	border-right-color:#0066b3;
	border-top-color:#0066b3;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}
td.CellOverride-4 {
	border-bottom-color:#0066b3;
	border-left-color:#0066b3;
	border-right-color:#0066b3;
	border-top-color:#0066b3;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	margin-left:11px;
}
p.ParaOverride-2 {
	text-align:left;
}
p.ParaOverride-3 {
	margin-top:9px;
}
li.ParaOverride-4 {
	-epub-hyphens:none;
	text-indent:0px;
}
li.ParaOverride-5 {
	margin-bottom:0px;
	margin-left:11px;
	text-indent:0px;
}
p.ParaOverride-6 {
	margin-left:0px;
	text-indent:0px;
}
p.ParaOverride-7 {
	margin-top:0px;
}
p.ParaOverride-8 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:0px;
	text-indent:0px;
}
p.ParaOverride-9 {
	margin-bottom:6px;
}
p.ParaOverride-10 {
	text-align:center;
}
li.ParaOverride-11 {
	margin-left:18px;
	text-indent:0px;
}
li.ParaOverride-12 {
	text-indent:0px;
}
li.ParaOverride-13 {
	margin-bottom:2px;
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-bottom:2px;
}
li.ParaOverride-15 {
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-16 {
	margin-bottom:1px;
	margin-left:11px;
	text-indent:0px;
}
p.ParaOverride-17 {
	margin-bottom:0px;
}
p.ParaOverride-18 {
	margin-top:7px;
}
p.ParaOverride-19 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:5px;
	text-indent:0px;
}
li.ParaOverride-20 {
	-epub-hyphens:none;
	margin-left:11px;
	text-indent:0px;
}
p.ParaOverride-21 {
	margin-bottom:0px;
	margin-top:0px;
}
span.CharOverride-1 {
	color:#0066b3;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-4 {
	font-style:oblique;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#0066b3;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-size:7px;
	font-style:oblique;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#0066b3;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	-webkit-text-combine:none;
	color:#0066b3;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-11 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-12 {
	font-size:58%;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#0066b3;
	font-style:oblique;
	font-weight:bold;
}
li._idGenParaOverride-1 {
	margin-left:11px;
}
col._idGenTableRowColumn-1 {
	width:232px;
}
tr._idGenTableRowColumn-2 {
	min-height:13px;
}
tr._idGenTableRowColumn-3 {
	min-height:21px;
}
tr._idGenTableRowColumn-4 {
	min-height:102px;
}
tr._idGenTableRowColumn-5 {
	min-height:74px;
}
tr._idGenTableRowColumn-6 {
	min-height:23px;
}
tr._idGenTableRowColumn-7 {
	min-height:47px;
}
tr._idGenTableRowColumn-8 {
	min-height:56px;
}
tr._idGenTableRowColumn-9 {
	min-height:82px;
}
tr._idGenTableRowColumn-10 {
	min-height:30px;
}
tr._idGenTableRowColumn-11 {
	min-height:518px;
}
col._idGenTableRowColumn-12 {
	width:30px;
}
col._idGenTableRowColumn-13 {
	width:56px;
}
col._idGenTableRowColumn-14 {
	width:80px;
}
col._idGenTableRowColumn-15 {
	width:67px;
}
tr._idGenTableRowColumn-16 {
	min-height:29px;
}
tr._idGenTableRowColumn-17 {
	min-height:22px;
}
col._idGenTableRowColumn-18 {
	width:53px;
}
col._idGenTableRowColumn-19 {
	width:179px;
}
tr._idGenTableRowColumn-20 {
	min-height:55px;
}
tr._idGenTableRowColumn-21 {
	min-height:14px;
}
col._idGenTableRowColumn-22 {
	width:64px;
}
col._idGenTableRowColumn-23 {
	width:168px;
}
tr._idGenTableRowColumn-24 {
	min-height:66px;
}
col._idGenTableRowColumn-25 {
	width:75px;
}
col._idGenTableRowColumn-26 {
	width:157px;
}
tr._idGenTableRowColumn-27 {
	min-height:41px;
}
tr._idGenTableRowColumn-28 {
	min-height:31px;
}
tr._idGenTableRowColumn-29 {
	min-height:59px;
}
tr._idGenTableRowColumn-30 {
	min-height:50px;
}
col._idGenTableRowColumn-31 {
	width:41px;
}
col._idGenTableRowColumn-32 {
	width:68px;
}
#_idContainer001 {
	display:inline-block;
	height:85px;
	width:61px;
}
#_idContainer002, #_idContainer004, #_idContainer008, #_idContainer010 {
	display:inline-block;
	width:100.00%;
}
#_idContainer003 {
	display:inline-block;
	height:88px;
	width:69px;
}
#_idContainer005 {
	display:inline-block;
	height:54px;
	width:60px;
}
#_idContainer006 {
	display:inline-block;
	height:65px;
	width:97px;
}
#_idContainer007 {
	display:inline-block;
	height:54px;
	width:105px;
}
#_idContainer009 {
	display:inline-block;
	width:99.54%;
}
#_idContainer011 {
	height:78.00%;
	left:0%;
	position:absolute;
	top:0%;
	width:97.91%;
	z-index:0;
}
#_idContainer012 {
	height:18.27%;
	left:0.30%;
	overflow:hidden;
	position:absolute;
	top:81.73%;
	width:46.87%;
	z-index:1;
}
#_idContainer013 {
	height:18.27%;
	left:49.85%;
	overflow:hidden;
	position:absolute;
	top:80.27%;
	width:50.15%;
	z-index:2;
}
#_idContainer014 {
	display:inline-block;
	padding:62.20% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer015 {
	height:21.16%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:78.84%;
	width:100.00%;
	z-index:1;
}
#_idContainer016 {
	height:81.15%;
	left:1.25%;
	position:absolute;
	top:0%;
	width:98.75%;
	z-index:0;
}
#_idContainer017 {
	display:inline-block;
	padding:47.26% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer018 {
	height:75.44%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer019 {
	height:23.13%;
	left:17.68%;
	overflow:hidden;
	position:absolute;
	top:76.87%;
	width:80.81%;
	z-index:1;
}
#_idContainer020 {
	display:inline-block;
	padding:34.27% 0% 0% 0%;
	position:relative;
	width:24.15%;
}
#_idContainer021 {
	height:81.07%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer022 {
	height:14.93%;
	left:20.74%;
	overflow:hidden;
	position:absolute;
	top:85.07%;
	width:76.30%;
	z-index:0;
}
#_idContainer023 {
	display:inline-block;
	padding:32.68% 0% 0% 0%;
	position:relative;
	width:32.93%;
}
#_idContainer024 {
	height:79.64%;
	left:0%;
	position:absolute;
	top:0%;
	width:92.95%;
	z-index:1;
}
#_idContainer025 {
	height:15.25%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:84.75%;
	width:100.00%;
	z-index:0;
}
#_idContainer026 {
	display:inline-block;
	padding:54.39% 0% 0% 0%;
	position:relative;
	width:38.41%;
}
#_idContainer027 {
	height:87.77%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer028 {
	height:9.86%;
	left:4.38%;
	overflow:hidden;
	position:absolute;
	top:90.14%;
	width:79.14%;
	z-index:1;
}
#_idContainer029 {
	display:inline-block;
	padding:36.10% 0% 0% 0%;
	position:relative;
	width:36.21%;
}
#_idContainer030 {
	height:89.25%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer031 {
	height:7.94%;
	left:11.30%;
	overflow:hidden;
	position:absolute;
	top:92.06%;
	width:64.94%;
	z-index:0;
}
#_idContainer032 {
	display:inline-block;
	padding:52.20% 0% 0% 0%;
	position:relative;
	width:46.95%;
}
#_idContainer033 {
	height:6.73%;
	left:17.17%;
	overflow:hidden;
	position:absolute;
	top:93.27%;
	width:82.83%;
	z-index:0;
}
#_idContainer034, #_idContainer040 {
	height:100.00%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer035 {
	height:6.93%;
	left:13.27%;
	position:absolute;
	top:25.15%;
	width:10.18%;
	z-index:1;
}
#_idContainer036 {
	-ms-transform:translate(0.000px,0.000px) rotate(115.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(115.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.93%;
	left:73.36%;
	position:absolute;
	top:23.10%;
	transform:translate(0.000px,0.000px) rotate(115.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(115.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.18%;
	z-index:2;
}
#_idContainer037 {
	height:88.79%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer038 {
	display:inline-block;
	padding:54.39% 0% 0% 0%;
	position:relative;
	width:48.59%;
}
#_idContainer039 {
	height:8.69%;
	left:17.09%;
	overflow:hidden;
	position:absolute;
	top:91.31%;
	width:82.91%;
	z-index:0;
}
#_idContainer041 {
	-ms-transform:translate(0.000px,0.000px) rotate(148.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(148.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.34%;
	left:47.87%;
	position:absolute;
	top:23.30%;
	transform:translate(0.000px,0.000px) rotate(148.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(148.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.19%;
	z-index:1;
}
#_idContainer042 {
	height:85.49%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer043 {
	display:inline-block;
	padding:53.35% 0% 0% 0%;
	position:relative;
	width:48.54%;
}
#_idContainer044 {
	height:88.01%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer045 {
	height:6.12%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:93.88%;
	width:100.00%;
	z-index:0;
}
#_idContainer046 {
	padding:59.76% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer047 {
	height:92.95%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer048 {
	height:7.05%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:92.95%;
	width:100.00%;
	z-index:0;
}
#_idContainer049 {
	display:inline-block;
	padding:62.31% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer050 {
	height:70.82%;
	left:0%;
	position:absolute;
	top:0%;
	width:96.38%;
	z-index:1;
}
#_idContainer051 {
	height:26.05%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:73.95%;
	width:100.00%;
	z-index:0;
}
#_idContainer052 {
	display:inline-block;
	padding:42.13% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer053 {
	height:84.08%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:1;
}
#_idContainer054 {
	height:12.84%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:87.16%;
	width:100.00%;
	z-index:0;
}
#_idContainer055 {
	display:inline-block;
	padding:48.50% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer057 {
	display:inline-block;
	padding:3.62% 0% 0% 0%;
	position:relative;
	width:5.71%;
}
#_idContainer058 {
	display:inline-block;
	padding:31.24% 0% 0% 0%;
	position:relative;
	width:25.90%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}
