body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
table.Table-Style-1 {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Table-Style-1 {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.cell-middle {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
}
p.abcd-dash {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
p.body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.body-bullet-blue {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-bullet-no-bullet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
li.body-bullet-pink, p.body-bullet-pink {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.body-dash {
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:23px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.charts-notes {
	-epub-hyphens:none;
	color:#ec008c;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.gv {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-A {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.056;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-AA {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Light Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.head-B {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:3px;
	margin-left:26px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-26px;
	text-transform:none;
	widows:1;
}
p.head-C {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:3px;
	margin-left:26px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-26px;
	text-transform:none;
	widows:1;
}
p.head-D {
	-epub-hyphens:none;
	color:#009367;
	font-family:"Helvetica Bold Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-E {
	-epub-hyphens:none;
	color:#00aaad;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-E-indented-4mm {
	-epub-hyphens:none;
	color:#ec008c;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:11px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-T3 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0;
	margin-left:34px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-34px;
	text-transform:none;
	widows:1;
}
li.help-hospital-box {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.important-box, li.important-box {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.info-chapter {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.table-bullet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:1px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-bullet-no-bullet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:1px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
li.table-bullet-pink {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	list-style-position:outside;
	margin-bottom:1px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-drug-tables {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-note-indented {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:9px;
	margin-left:9px;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:1;
}
p.table-text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-top {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Bold Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.154;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.warning-box, p.warning-box {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.warning-help-box, li.warning-help-box {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:23px;
	margin-right:11px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.warning-help-hospital-box, p.warning-help-hospital-box {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.body-bold {
	font-style:normal;
	font-weight:bold;
}
span.body-bold-red {
	color:#d71920;
	font-style:normal;
	font-weight:bold;
}
span.body-bold-underlined {
	font-style:normal;
	font-weight:bold;
	text-decoration:underline;
}
span.body-medium-italic {
	font-style:oblique;
	font-weight:normal;
}
span.ch9-body-bold-pink {
	color:#ec008c;
	font-style:normal;
	font-weight:bold;
}
span.table-superscript {
	vertical-align:super;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	background-color:#fad5e5;
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-right-color:#ec008c;
	border-top-color:#ec008c;
	padding-right:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#fad5e5;
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-right-color:#ec008c;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}
td.CellOverride-3 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-right-color:#ec008c;
	border-top-color:#ec008c;
}
td.CellOverride-4 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-right-color:#ec008c;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
}
td.CellOverride-5 {
	background-color:#fad5e5;
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-right-color:#ec008c;
	border-top-color:#ec008c;
	vertical-align:middle;
}
td.CellOverride-6 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-right-color:#ec008c;
	border-top-color:#ec008c;
	vertical-align:middle;
}
td.CellOverride-7 {
	background-color:#fad5e5;
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-right-color:#ec008c;
	border-top-color:#ec008c;
}
td.CellOverride-8 {
	background-color:#fad5e5;
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
}
td.CellOverride-9 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-10 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-11 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-12 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-13 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-14 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-15 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:3px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-16 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-17 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:3px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-18 {
	border-bottom-color:#ec008c;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-19 {
	background-color:#c7eafb;
	border-bottom-color:#ec008c;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-style:solid;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-20 {
	border-bottom-color:#ec008c;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-style:solid;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-21 {
	border-bottom-color:#ec008c;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-style:solid;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-22 {
	border-bottom-color:#ec008c;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-style:solid;
	border-top-width:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-23 {
	border-bottom-color:#ec008c;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-style:solid;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-24 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-style:solid;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-25 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-26 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-27 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-28 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-29 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-30 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-31 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-32 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-33 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-34 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:0px;
	padding-right:0px;
	vertical-align:top;
}
td.CellOverride-35 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:0px;
	vertical-align:top;
}
td.CellOverride-36 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-37 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:0px;
	padding-right:0px;
	vertical-align:top;
}
td.CellOverride-38 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
td.CellOverride-39 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-40 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	vertical-align:top;
}
td.CellOverride-41 {
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-42 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-43 {
	border-bottom-color:#ec008c;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#ec008c;
	border-top-width:0px;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
td.CellOverride-44 {
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:0px;
	vertical-align:top;
}
td.CellOverride-45 {
	background-color:#fff9ae;
	border-bottom-color:#ec008c;
	border-left-color:#ec008c;
	border-left-width:0px;
	border-right-color:#ec008c;
	border-right-width:0px;
	border-top-color:#ec008c;
	padding-left:3px;
	padding-right:3px;
	vertical-align:top;
}
li.ParaOverride-1 {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:18px;
	text-indent:0px;
}
p.ParaOverride-2 {
	margin-top:14px;
}
p.ParaOverride-3 {
	margin-top:0px;
}
p.ParaOverride-4 {
	margin-bottom:6px;
}
p.ParaOverride-5 {
	text-align:left;
}
p.ParaOverride-6 {
	text-align:center;
}
p.ParaOverride-7 {
	margin-bottom:0px;
}
li.ParaOverride-8 {
	margin-bottom:1px;
	text-indent:0px;
}
p.ParaOverride-9 {
	margin-bottom:1px;
}
li.ParaOverride-10 {
	list-style-position:outside;
	margin-left:18px;
	text-indent:0px;
}
p.ParaOverride-11 {
	margin-top:23px;
}
p.ParaOverride-12 {
	margin-top:21px;
}
li.ParaOverride-13 {
	margin-top:14px;
	text-indent:0px;
}
li.ParaOverride-14 {
	margin-bottom:0px;
	margin-left:11px;
	text-indent:0px;
}
p.ParaOverride-15 {
	margin-top:11px;
}
p.ParaOverride-16 {
	margin-top:20px;
}
p.ParaOverride-17 {
	margin-left:11px;
}
li.ParaOverride-18 {
	-epub-hyphens:none;
	margin-left:11px;
	text-indent:0px;
}
p.ParaOverride-19 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:0px;
	text-indent:0px;
}
p.ParaOverride-20 {
	margin-top:9px;
}
p.ParaOverride-21 {
	margin-top:16px;
}
p.ParaOverride-22 {
	margin-bottom:3px;
}
p.ParaOverride-23 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:5px;
	text-indent:0px;
}
li.ParaOverride-24 {
	margin-bottom:0px;
	text-indent:0px;
}
li.ParaOverride-25 {
	margin-left:12px;
	text-indent:0px;
}
span.CharOverride-1 {
	color:#ec008c;
}
span.CharOverride-2 {
	color:#000000;
}
span.CharOverride-3 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-4 {
	-webkit-text-combine:none;
	color:#ec008c;
	font-family:"Helvetica Black Condensed", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-5 {
	color:#000000;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ec008c;
	text-decoration:underline;
}
span.CharOverride-8 {
	font-family:"Wingdings 3 Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#ec008c;
	font-family:"Wingdings (TT)", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#d71920;
}
span.CharOverride-11 {
	text-decoration:underline;
}
span.CharOverride-12 {
	color:#000000;
	font-size:8px;
}
span.CharOverride-13 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-14 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-15 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#ec008c;
	font-size:8px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	color:#ffcb05;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	color:#00aeef;
}
span.CharOverride-19 {
	font-style:oblique;
	font-weight:bold;
}
span.CharOverride-20 {
	font-style:oblique;
	font-weight:normal;
}
li._idGenParaOverride-1 {
	margin-left:11px;
}
p._idGenParaOverride-2 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:58%;
}
col._idGenTableRowColumn-1 {
	width:38px;
}
col._idGenTableRowColumn-2 {
	width:41px;
}
col._idGenTableRowColumn-3 {
	width:53px;
}
col._idGenTableRowColumn-4 {
	width:40px;
}
col._idGenTableRowColumn-5 {
	width:59px;
}
tr._idGenTableRowColumn-6 {
	min-height:21px;
}
tr._idGenTableRowColumn-7 {
	min-height:14px;
}
col._idGenTableRowColumn-8 {
	width:58px;
}
col._idGenTableRowColumn-9 {
	width:174px;
}
tr._idGenTableRowColumn-10 {
	min-height:13px;
}
tr._idGenTableRowColumn-11 {
	min-height:33px;
}
tr._idGenTableRowColumn-12 {
	min-height:39px;
}
tr._idGenTableRowColumn-13 {
	min-height:23px;
}
tr._idGenTableRowColumn-14 {
	min-height:50px;
}
tr._idGenTableRowColumn-15 {
	min-height:42px;
}
tr._idGenTableRowColumn-16 {
	min-height:15px;
}
tr._idGenTableRowColumn-17 {
	min-height:22px;
}
tr._idGenTableRowColumn-18 {
	min-height:30px;
}
col._idGenTableRowColumn-19 {
	width:173px;
}
tr._idGenTableRowColumn-20 {
	min-height:16px;
}
tr._idGenTableRowColumn-21 {
	min-height:31px;
}
col._idGenTableRowColumn-22 {
	width:57px;
}
col._idGenTableRowColumn-23 {
	width:175px;
}
tr._idGenTableRowColumn-24 {
	min-height:41px;
}
tr._idGenTableRowColumn-25 {
	min-height:57px;
}
col._idGenTableRowColumn-26 {
	width:232px;
}
tr._idGenTableRowColumn-27 {
	min-height:75px;
}
tr._idGenTableRowColumn-28 {
	min-height:73px;
}
col._idGenTableRowColumn-29 {
	width:95px;
}
col._idGenTableRowColumn-30 {
	width:137px;
}
col._idGenTableRowColumn-31 {
	width:49px;
}
col._idGenTableRowColumn-32 {
	width:50px;
}
col._idGenTableRowColumn-33 {
	width:52px;
}
col._idGenTableRowColumn-34 {
	width:26px;
}
col._idGenTableRowColumn-35 {
	width:27px;
}
tr._idGenTableRowColumn-36 {
	min-height:20px;
}
tr._idGenTableRowColumn-37 {
	min-height:12px;
}
tr._idGenTableRowColumn-38 {
	min-height:26px;
}
tr._idGenTableRowColumn-39 {
	min-height:34px;
}
tr._idGenTableRowColumn-40 {
	min-height:27px;
}
tr._idGenTableRowColumn-41 {
	min-height:37px;
}
tr._idGenTableRowColumn-42 {
	min-height:11px;
}
col._idGenTableRowColumn-43 {
	width:51px;
}
tr._idGenTableRowColumn-44 {
	min-height:9px;
}
#_idContainer001, #_idContainer002, #_idContainer003, #_idContainer005, #_idContainer007, #_idContainer008, #_idContainer009, #_idContainer010, #_idContainer012, #_idContainer013, #_idContainer014, #_idContainer015, #_idContainer016, #_idContainer017, #_idContainer018, #_idContainer027, #_idContainer035, #_idContainer047, #_idContainer055, #_idContainer056, #_idContainer057, #_idContainer058, #_idContainer060, #_idContainer067, #_idContainer075, #_idContainer076, #_idContainer077 {
	display:inline-block;
	width:100.00%;
}
#_idContainer004 {
	display:inline-block;
	width:37.73%;
}
#_idContainer006 {
	display:inline-block;
	width:99.74%;
}
#_idContainer011, #_idContainer078 {
	width:100.00%;
}
#_idContainer019 {
	height:11.36%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:99.68%;
	z-index:2;
}
#_idContainer020 {
	height:32.26%;
	left:0.11%;
	overflow:hidden;
	position:absolute;
	top:9.53%;
	width:99.68%;
	z-index:0;
}
#_idContainer021 {
	height:20.20%;
	left:0.11%;
	overflow:hidden;
	position:absolute;
	top:38.39%;
	width:99.68%;
	z-index:1;
}
#_idContainer022 {
	height:12.65%;
	left:0.11%;
	overflow:hidden;
	position:absolute;
	top:57.54%;
	width:99.68%;
	z-index:3;
}
#_idContainer023 {
	height:10.94%;
	left:0.11%;
	overflow:hidden;
	position:absolute;
	top:69.28%;
	width:99.89%;
	z-index:4;
}
#_idContainer024 {
	height:5.53%;
	left:0.11%;
	overflow:hidden;
	position:absolute;
	top:94.47%;
	width:99.68%;
	z-index:6;
}
#_idContainer025 {
	height:17.37%;
	left:0.30%;
	overflow:hidden;
	position:absolute;
	top:78.07%;
	width:99.50%;
	z-index:5;
}
#_idContainer026 {
	display:inline-block;
	padding:148.30% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer028 {
	height:24.98%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:27.65%;
	width:100.00%;
	z-index:0;
}
#_idContainer029 {
	height:14.74%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:52.46%;
	width:99.09%;
	z-index:3;
}
#_idContainer030 {
	height:35.35%;
	left:0.45%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:99.09%;
	z-index:2;
}
#_idContainer031 {
	height:11.67%;
	left:0.45%;
	overflow:hidden;
	position:absolute;
	top:66.40%;
	width:99.09%;
	z-index:1;
}
#_idContainer032 {
	height:12.61%;
	left:0.45%;
	overflow:hidden;
	position:absolute;
	top:75.76%;
	width:99.09%;
	z-index:4;
}
#_idContainer033 {
	height:15.15%;
	left:0.45%;
	overflow:hidden;
	position:absolute;
	top:84.85%;
	width:99.09%;
	z-index:5;
}
#_idContainer034 {
	display:inline-block;
	padding:159.52% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer036 {
	height:15.70%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:99.61%;
	z-index:1;
}
#_idContainer037 {
	height:13.09%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:14.17%;
	width:99.61%;
	z-index:2;
}
#_idContainer038 {
	height:6.89%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:35.87%;
	width:99.61%;
	z-index:0;
}
#_idContainer039 {
	height:14.43%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:80%;
	width:99.61%;
	z-index:8;
}
#_idContainer040 {
	height:12.05%;
	left:0.39%;
	overflow:hidden;
	position:absolute;
	top:25.23%;
	width:99.21%;
	z-index:3;
}
#_idContainer041 {
	height:6.79%;
	left:0.39%;
	overflow:hidden;
	position:absolute;
	top:42.03%;
	width:99.61%;
	z-index:4;
}
#_idContainer042 {
	height:8.45%;
	left:0.39%;
	overflow:hidden;
	position:absolute;
	top:48.82%;
	width:99.61%;
	z-index:5;
}
#_idContainer043 {
	height:18.04%;
	left:0.39%;
	overflow:hidden;
	position:absolute;
	top:55.39%;
	width:99.61%;
	z-index:6;
}
#_idContainer044 {
	height:9.23%;
	left:0.39%;
	overflow:hidden;
	position:absolute;
	top:70.77%;
	width:99.61%;
	z-index:7;
}
#_idContainer045 {
	height:6.79%;
	left:0.39%;
	overflow:hidden;
	position:absolute;
	top:93.21%;
	width:99.61%;
	z-index:9;
}
#_idContainer046 {
	display:inline-block;
	padding:149.32% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer048 {
	height:10.71%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:73.39%;
	width:99.60%;
	z-index:3;
}
#_idContainer049 {
	height:55.40%;
	left:0.40%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:99.60%;
	z-index:0;
}
#_idContainer050 {
	height:17.90%;
	left:0.40%;
	overflow:hidden;
	position:absolute;
	top:46.45%;
	width:99.60%;
	z-index:1;
}
#_idContainer051 {
	height:11.88%;
	left:0.40%;
	overflow:hidden;
	position:absolute;
	top:62.90%;
	width:99.60%;
	z-index:2;
}
#_idContainer052 {
	height:5.99%;
	left:0.40%;
	overflow:hidden;
	position:absolute;
	top:85.93%;
	width:99.60%;
	z-index:4;
}
#_idContainer053 {
	height:4.70%;
	left:0.40%;
	overflow:hidden;
	position:absolute;
	top:95.30%;
	width:99.60%;
	z-index:5;
}
#_idContainer054 {
	display:inline-block;
	padding:121.64% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer059 {
	padding:5.16% 0% 0% 0%;
	position:relative;
	width:5.16%;
}
#_idContainer061 {
	height:18.96%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:97.04%;
	z-index:0;
}
#_idContainer062 {
	height:21.89%;
	left:1.18%;
	overflow:hidden;
	position:absolute;
	top:66.68%;
	width:97.04%;
	z-index:3;
}
#_idContainer063 {
	height:35.07%;
	left:2.96%;
	overflow:hidden;
	position:absolute;
	top:20.65%;
	width:97.04%;
	z-index:1;
}
#_idContainer064 {
	height:7.55%;
	left:2.96%;
	overflow:hidden;
	position:absolute;
	top:57.42%;
	width:97.04%;
	z-index:2;
}
#_idContainer065 {
	height:14.71%;
	left:2.96%;
	overflow:hidden;
	position:absolute;
	top:85.29%;
	width:97.04%;
	z-index:4;
}
#_idContainer066 {
	display:inline-block;
	padding:177.85% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer068 {
	height:28.68%;
	left:0.01%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:99.99%;
	z-index:0;
}
#_idContainer069 {
	height:27.41%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:26.94%;
	width:97.76%;
	z-index:1;
}
#_idContainer070 {
	height:8.34%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:54.59%;
	width:98.39%;
	z-index:2;
}
#_idContainer071 {
	height:17.64%;
	left:0.31%;
	overflow:hidden;
	position:absolute;
	top:62.93%;
	width:97.76%;
	z-index:3;
}
#_idContainer072 {
	height:3.62%;
	left:0.31%;
	overflow:hidden;
	position:absolute;
	top:96.38%;
	width:98.37%;
	z-index:5;
}
#_idContainer073 {
	height:16.45%;
	left:0.63%;
	overflow:hidden;
	position:absolute;
	top:79.38%;
	width:97.76%;
	z-index:4;
}
#_idContainer074 {
	display:inline-block;
	padding:125.82% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer079 {
	display:inline-block;
	width:86.32%;
}
#_idContainer081 {
	display:inline-block;
	position:relative;
	width:0.00%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#fff200;
	border-color:#ec008c;
}
div._idGenObjectLayout-1 {
	text-align:left;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
