body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.abcd-bullet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:1;
}
p.abcd-dash {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
p.abcd-text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Medium Condensed", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.head-T {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Helvetica Bold Condensed Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:3px;
	margin-left:28px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-28px;
	text-transform:none;
	widows:1;
}
span.body-bold {
	font-style:normal;
	font-weight:bold;
}
span.body-bold-red {
	color:#d20a10;
	font-style:normal;
	font-weight:bold;
}
p.ParaOverride-1 {
	margin-bottom:3px;
}
p.ParaOverride-2 {
	margin-bottom:3px;
	margin-top:0px;
}
span.CharOverride-1 {
	color:#009fe3;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	width:40.19%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
